DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
FORO_FORCE_FILE_EVENTS="false"
BLOB_READ_WRITE_TOKEN=""
USE_BLOB_STORAGE_LOCAL="false"
